numpy==1.25.2      # Última versão estável
pandas==2.1.2      # Última versão estável
scikit-learn==1.3.0  # Versão mais recente compatível
imbalanced-learn==0.11.0  # Versão mais recente
streamlit==1.22.0    # Última versão estável compatível
joblib==1.3.1        # Última versão estável
streamlit-lottie==0.0.4  # Última versão disponível
matplotlib==3.7.1    # Versão mais recente estável
seaborn==0.12.2      # Última versão estável

